body{
    background-size: cover;
}

#obs {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0;
}

.play{
    font-size: 25px;
}

canvas{
    border: 5px solid black;
    border-radius: 20px;
}